<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image}}.jpg">
        <img *ngIf="!property.Image" class="card-img-top" src="assets/images/house_default.jpg">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{property.Name}}</h1>
        <div>
            <strong>{{property.BHK}} &#64; ${{property.Price}}</strong>
        </div>
        <div>
          <strong>in {{property.City}}</strong>
        </div>
        <div>
          <strong>Build Area: </strong>
          {{property.BuiltArea}} Sqft
        </div>
        <div>
          <strong>Carpet Area: </strong>
         {{property.CarpetArea}} Sqft
        </div>
        <div>
          <strong>Furnishing Type: </strong>
          {{property.FType}}
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-success">Message</button>
      </div>
      </div>
    </div>
</div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
         <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{property.Name}}</p>
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <p>{{property.Addresses[0]?.Floor}}</p>
                  </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <p>{{property.AOP}}</p>
                  </div>

                  <div class="heading">
                      <strong>Posession</strong>
                      <p>{{property.Possession}}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance</strong>
                      <p>{{property.MainEntrance}}</p>
                  </div>

                  <div class="heading">
                      <strong>Gated Community</strong>
                      <p>{{property.Gated}}</p>
                  </div>

                  <div class="heading">
                      <strong>Security Deposit</strong>
                      <p>{{property.Security}}</p>
                  </div>
                  <div class="heading">
                      <strong>Maintenance</strong>
                      <p>{{property.Maintenance}}</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>About Property</strong>
                      <p>{{property.Description}}</p>
                  </div>
              </div>
            </div>
        </tab>
       <tab heading="Address">
    <div *ngIf="property.Addresses && property.Addresses.length > 0; else noAddress">

        <div *ngFor="let address of property.Addresses; let i = index" class="address-block mb-4 border p-3">
            <h4>Address {{i + 1}}</h4>
            <hr>

            <div *ngIf="editingAddressIndex !== i">
                <div class="row">
                    <div class="col-12">
                        <p><strong>Address: </strong> {{address.Address}}</p>
                        <p><strong>ZipCode:</strong> {{address.ZipCode}}</p>
                        <p><strong>City:</strong> {{property.City}}</p>
                        <p><strong>Landmark:</strong> {{address.Landmark}}</p>
                        <p><strong>Floor:</strong> {{address.Floor}} of {{address.TotalFloor}}</p>
                    </div>
                </div>
                <div class="mt-2"> 
                <button class="btn btn-primary" (click)="startEdit(i)">Edit Address</button>

                <button class="btn btn-danger ml-2" (click)="onDeleteAddress(i)">Delete</button>
                </div>
            </div>

            <div *ngIf="editingAddressIndex === i">
                <div class="form-group col-12">
                    <label>Address</label>
                    <input type="text" class="form-control" [(ngModel)]="editableAddress.Address">
                </div>
                <div class="form-group col-12">
                    <label>ZipCode</label>
                    <input type="number" class="form-control" [(ngModel)]="editableAddress.ZipCode">
                </div>
                <div class="form-group col-12">
                    <label>Landmark</label>
                    <input type="text" class="form-control" [(ngModel)]="editableAddress.Landmark">
                </div>
                <div class="form-group col-12">
                    <label>Floor</label>
                    <input type="number" class="form-control" [(ngModel)]="editableAddress.Floor">
                </div>
                <div class="form-group col-12">
                    <label>Total Floors</label>
                    <input type="number" class="form-control" [(ngModel)]="editableAddress.TotalFloor">
                </div>

                <div class="mt-3">
                    <button class="btn btn-success" (click)="saveEdit()">Save Changes</button>
                    <button class="btn btn-secondary ml-2" (click)="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>

    </div>

    <ng-template #noAddress>
        <p>Nicio adresă disponibilă pentru această proprietate.</p>
    </ng-template>
</tab>
        <tab heading="Photos">
  
           <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </tab>
        <tab heading="Contact">
          <h1>Contact Detail</h1>
          This should be restricted area and only registered user should be able to see seller contact details
        </tab>
      </tabset>
    </div>
  </div>
</div>