WebAPI/appsettings.json
bin/
obj/
.vs/
*.user
*.suo
WebAPI/WebAPI.sln
WebAPI/appsettings.Development.json
WebAPI/Startup.cs
WebAPI/Migrations/20250704064952_AddLastUpdatedFields.Designer.cs
WebAPI/Migrations/20250704064952_AddLastUpdatedFields.cs
