<div class="row mb-5">
<div class="col-8">
<div class="card">
  <div class="card-header">
    <h3>List your Property</h3>
  </div>
  <div class="card-body">
    <form *ngIf="addPropertyForm" (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
<div class="tab-panel">
  <tabset class="member-tabset" #formTabs>

    <tab heading="Basic info" formGroupName="BasicInfo">
      <div class="form-group col-12">
      <p>I want to</p>
    <div class="btn-group" btnRadioGroup formControlName="SellRent">
      <label class="btn btn-outline-primary"
      btnRadio=1 role="button" name="SellRent">Sell</label>

      <label class="btn btn-outline-primary"
      btnRadio=2 role="button" name="SellRent">Rent</label>
       </div>

       <div class="error-block" *ngIf="SellRent.invalid &&  nextClicked">
        Please select sell or rent
       </div>
    </div>

     <div class="form-group col-12">
      <p>BHK</p>
    <div class="btn-group" btnRadioGroup
    [(ngModel)]="propertyView.BHK" formControlName="BHK">
      <label
      *ngFor="let bhk of [1,2,3,4]"
      class="btn btn-outline-primary"
     [btnRadio]="bhk" tabindex="0" role="button" name="SellRent">{{bhk}}</label>
       </div>
        <div class="error-block" *ngIf="BHK.invalid &&  nextClicked">
        Please select one
       </div>
    </div>

 <div class="form-group col-12">
      <p>Property Type</p>
    <div class="btn-group" btnRadioGroup formControlName='PType'
    [(ngModel)]="propertyView.PType" name="PType">
      <label
      *ngFor="let ptype of propertyTypes"
      class="btn btn-outline-primary"
     [btnRadio]="ptype" tabindex="0" role="button" name="PType">{{ptype}}</label>
       </div>
       <div class="error-block" *ngIf="PType.invalid &&  nextClicked">
        Please select one
       </div>
    </div>

     <div class="form-group col-12">
      <p>Furnishing Type</p>
    <div class="btn-group" btnRadioGroup
    [(ngModel)]="propertyView.FType"
    formControlName="FType">
      <label
      *ngFor="let ftype of furnishedTypes"
      class="btn btn-outline-primary"
     [btnRadio]="ftype" tabindex="0" role="button" name="SellRent">{{ftype}}</label>
       </div>
        <div class="error-block" *ngIf="FType.invalid &&  nextClicked">
        Please select one
       </div>
    </div>

        <div class="form-group col-12">
        <label >in Building/Society/Project</label>
        <input type="text" class="form-control"
        required
        minlength="5"
        [(ngModel)]="propertyView.Name"
        formControlName="Name">
        <div class="error-block"
                  *ngIf="Name.invalid && (nextClicked || Name.touched)">
                    Please select building, society or project name
                  </div>
      </div>

      <div class="form-group col-12">
        <label>City</label>
        <select
        class="form-control"
        [(ngModel)]="propertyView.City"
        formControlName="City">
        <option value="">--Select City--</option>
        <option *ngFor="let city of cityList"
         value={{city.id}}>
        {{city.name}}
        </option>
        </select>
        <div class="error-block"
                  *ngIf="City.invalid && (nextClicked || City.touched)">
                    Please select city
                  </div>
      </div>

      <div class="form-group col-12">
        <button type="button" class="btn btn-primary w-100 mt-3"
         (click)="selectTab(1, BasicInfo.valid)" >Next</button>
      </div>
    </tab>

    <tab heading="Pricing and Area" formGroupName="PriceInfo">
       <div class="form-group col-12">
                <label *ngIf="SellRent.value==1">Price (in USD)</label>
                <label *ngIf="SellRent.value==2"> Rent (in USD)</label>
                <input type="text" class="form-control"
                formControlName="Price"
                [(ngModel)]="propertyView.Price">
                <div class="error-block"
                *ngIf="Price.invalid && (nextClicked || Price.touched)">
                Please select
                <span *ngIf="SellRent.value==1; else ShowRent"> price </span>
                <ng-template #ShowRent>rent</ng-template>
              </div>
              </div>

              <div *ngIf="SellRent.value==2">
              <div class="form-group col-12">
                <label>Security (in USD)</label>
                <input type="text"
                 class="form-control"
                 formControlName="Security">
              </div>

              <div class="form-group col-12">
                <label>Maintenance (in USD)</label>
                <input type="text"
                 class="form-control"
                 formControlName="Maintenance">
              </div>
            </div>

              <div class="form-group col-12">
                <label>Built Area (in Sqr Feet)</label>
                <input type="text"
                class="form-control"
                [(ngModel)]="propertyView.BuiltArea"
                formControlName="BuiltArea">
                <div class="error-block"
                    *ngIf="BuiltArea.invalid && nextClicked">
                      Please select built up area
                    </div>
              </div>

              <div class="form-group col-12">
                <label>Carpet Area(in Sqr Feet)</label>
                <input type="text"
                formControlName="CarpetArea"
                class="form-control">
              </div>

               <div class="form-group col-12">
        <button type="button" class="btn btn-primary w-100 mt-3"
              (click)="selectTab(2, PriceInfo.valid)">Next</button>
        <button type="button" class="btn btn-primary w-100 mt-3"
         (click)="selectTab(0, PriceInfo.valid)">Back</button>
         </div>
    </tab>

     <tab heading="Address" formGroupName="AddressInfo">

                  <div formArrayName="Addresses">
                    <div *ngFor="let addressGroup of addresses.controls; let i = index" [formGroupName]="i" class="card mb-3">
                      <div class="card-header ">
                        Address {{ i + 1 }}
                        <button *ngIf="addresses.length > 1" (click)="removeAddress(i)" class="btn btn-danger btn-sm float-end">Remove Address</button>
                      </div>
                      <div class="card-body">
                        <div class="mb-3">
                          <label [for]="'address_' + i" class="form-label">Address</label>
                          <input type="text" [id]="'address_' + i" formControlName="Address" class="form-control"
                            [ngClass]="{ 'is-invalid': addressGroup.get('Address')?.invalid && addressGroup.get('Address')?.touched }">
                          <div *ngIf="addressGroup.get('Address')?.invalid && addressGroup.get('Address')?.touched" class="invalid-feedback">
                          Address is required.
                          </div>
                        </div>

                        <div class="mb-3">
                          <label [for]="'zipCode_' + i" class="form-label">Zip Code</label>
                          <input type="number" [id]="'zipCode_' + i" formControlName="ZipCode" class="form-control"
                            [ngClass]="{ 'is-invalid': addressGroup.get('ZipCode')?.invalid && addressGroup.get('ZipCode')?.touched }">
                          <div *ngIf="addressGroup.get('ZipCode')?.invalid && addressGroup.get('ZipCode')?.touched" class="invalid-feedback">
                            <span *ngIf="addressGroup.get('ZipCode')?.errors?.required">Zip Code is required.</span>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label [for]="'totalFloor_' + i" class="form-label">Total Number of Floors</label>
                          <input type="number" [id]="'totalFloor_' + i" formControlName="TotalFloor" class="form-control"
                            [ngClass]="{ 'is-invalid': addressGroup.get('TotalFloor')?.invalid && addressGroup.get('TotalFloor')?.touched }">
                          <div *ngIf="addressGroup.get('TotalFloor')?.invalid && addressGroup.get('TotalFloor')?.touched" class="invalid-feedback">
                            <span *ngIf="addressGroup.get('TotalFloor')?.errors?.required">The total number of floors is  required.</span>
                            <span *ngIf="addressGroup.get('TotalFloor')?.errors?.min">The total number of floors must be at least 1.</span>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label [for]="'floor_' + i" class="form-label">Floor</label>
                          <input type="number" [id]="'floor_' + i" formControlName="Floor" class="form-control"
                            [ngClass]="{ 'is-invalid': addressGroup.get('Floor')?.invalid && addressGroup.get('Floor')?.touched }">
                          <div *ngIf="addressGroup.get('Floor')?.invalid && addressGroup.get('Floor')?.touched" class="invalid-feedback">
                            <span *ngIf="addressGroup.get('Floor')?.errors?.required">The floor is  required.</span>
                            <span *ngIf="addressGroup.get('Floor')?.errors?.min">Floor must be at least 0</span>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label [for]="'landmark_' + i" class="form-label">Landmark</label>
                          <input type="text" [id]="'landmark_' + i" formControlName="Landmark" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>


                <button type="button" (click)="addAddress()" class="btn btn-primary mb-3">Add New Address</button>
        <button type="button" class="btn btn-primary w-100 mt-3"
         (click)="selectTab(3, AddressInfo.valid)">Next</button>
         <!-- aici de modificat cu AddressInfo -->
      <button type="button" class="btn btn-primary w-100 mt-3"
         (click)="selectTab(1, AddressInfo.valid)">Back</button>


    </tab>

    <tab heading="Other Details" formGroupName="OtherInfo">

                 <div class="form-group col-12">
              <p>Ready to Move</p>
            <div class="btn-group" btnRadioGroup
                  formControlName="RTM">
                    <label class="btn btn-outline-primary mr-2"
                      btnRadio=1 tabindex="0" role="button"
                      name="RTM">Yes
                    </label>

               <label class="btn btn-outline-primary"
                      btnRadio=2  tabindex="0" role="button" name="RTM">No
                    </label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                    Please select ready to move
                  </div>
                </div>

                <div
                *ngIf="RTM.value==2"
                class="form-group col-6">
              <label>Possession/Avaialble From</label>
              <input type="text"
              formControlName="PossessionOn"
                class="form-control"
                bsDatepicker
                [bsConfig]="{containerClass: 'theme-dark-blue',
              dateInputFormat: 'DD-MM-YYYY'}">
              </div>


            <div  *ngIf="RTM.value==1"
            class="form-group col-3">
              <label>Age of Property</label>
              <input type="text"
               class="form-control"
               formControlName="AOP">
            </div>

                <div class="form-group col-12">
              <p>Gated Community</p>
            <div class="btn-group"
             btnRadioGroup
             formControlName="Gated">
              <label class="btn btn-outline-primary"
               btnRadio=1 tabindex="0" role="button" name="Gated">Yes</label>

              <label class="btn btn-outline-primary"
              btnRadio=2 role="button" name="Gated">No</label>
              </div>
            </div>

               <div class="form-group col-12">
              <p>Main Entrance</p>
            <div class="btn-group" btnRadioGroup
            formControlName="MainEntrance">
              <label class="btn btn-outline-primary"
               btnRadio=1 tabindex="0" role="button" name="MainEntrance">East</label>

              <label class="btn btn-outline-primary"
              btnRadio=2 tabindex="0" role="button" name="MainEntrance">West</label>

             <label class="btn btn-outline-primary"
              btnRadio=3 tabindex="0" role="button" name="MainEntrance">South</label>

               <label class="btn btn-outline-primary"
              btnRadio=4 tabindex="0" role="button" name="MainEntrance">North</label>
            </div>
            </div>

            <div class="form-group col-12">
              <label>Description</label>
              <textarea type="text"
               class="form-control"
               formControlName="Description"
               rows="6"></textarea>
         </div>

         <div class="form-group col-12">
      <button type="button" class="btn btn-primary w-100 mt-3"
         (click)="selectTab(4, OtherInfo.valid)">Next</button>
      <button type="button" class="btn btn-primary w-100 mt-3"
         (click)="selectTab(2, OtherInfo.valid)">Back</button>
         </div>
    </tab>

    <tab heading="Photos">

        <div class="form-group col-12">
              <div class="photo-control">
                  <button class="mt-5" type="button">Upload</button> <br>
                  This is under construction
              </div>
        </div>

      <button type="button" class="btn btn-primary w-100 mt-3"
         (click)="selectTab(3, true)">Back</button>
      <button type="reset" class="btn btn-primary w-100 mt-3">Cancel</button>
      <button type="submit" class="btn btn-primary w-100 mt-3">Save</button>

    </tab>

  </tabset>

</div>
    </form>
  </div>
</div>
</div>

<div class="col-4">
  <div class="card">
  <div class="card-header">
  <h3>Your Property Preview</h3></div>
  <div class="card-body">
  <app-property-card [property]="propertyView" hideIcons="true"></app-property-card>
  </div>
  </div>
</div>
</div>
