  <div class="card shadow h-100" style="max-width: 300px;">
       <div class= "card-img-wrapper">
          <img *ngIf="property.image" class="card-img-top" src="assets/images/{{property.Image}}.jpg">
          <img *ngIf="!property.image" class="card-img-top" src="assets/images/house_default.jpg">
          <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
              <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}"><i class="fa-solid fa-pen"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-primary" ><i class="fa-solid fa-address-book"></i></button>
            </li>
          </ul>
       </div>
        <div class="card-body p-1">
    <h1 class="card-title fw-bold mb-2">{{property.bhk}} BHK {{property.propertyType}}</h1>

    <p class="mb-1 text-muted">
      in {{property.name}}<span *ngIf="property.name">,</span> {{property.city}}
    </p>

    <p class="mb-1">
      {{property.furnishingType}} <span *ngIf="property.furnishingType !== 'Unfurnished'">Furnished</span> | Ready to Move
    </p>

    <hr class="my-2">

    <h6 class="mb-0">Price: <span class="font-highlight">{{property.price}} USD.</span>
     | Area: <span class="font-highlight">{{property.builtArea}} Sq Ft</span>
    </h6>
  </div>
     </div>
